@media(min-width:1000px){
    .espaco_menu{
      margin-left:100px;
    }
    .espaco_menu li{
      margin-left:40px;
    }}
    
    .fundo{
      background-color: #ffc107;
    }
    
    .fundo_card{
       background-color: #DCDCDC;
    }
    #navbarSite a{
      color:white;
      font-size: 20px;
      font-family: Courier;
      font-weight: bold;
    }
    
    #navbarSite a:hover{
      color:black;
    }
    #situacao h4{
      text-align:center;
    }
    #situacao p{
      text-align:justify;
      text-indent:30px;
    }
    
    #menu label{
      font-size:20px;
      font-weight:bold;
    }
    
    .altura{
    height:350px;
    width:auto;
    }
    .cor {
       font-size:18px;
      color:white;
      font-weight: bold;
    }